.position-1{
    margin-left: 5%;
}

.position-2{
    margin-left: 17.5%;
    margin-top: 10%;
}

.position-3{
    margin-top: 4%;
}

.position-4{
    margin-left: 15.8%;
    margin-top: 5%;
}

.position-5{
    margin-left: 17.5%;
    margin-top: 4%;
}

.position-6{
    margin-left: 9.5%;
    margin-top: 16.2%;
}