.position-1{
    margin-left: 80px;
}

.position-2{
    margin-left: 265px;
    margin-top: 150px;
}

.position-3{
    margin-top: 60px;
}

.position-4{
    margin-left: 240px;
    margin-top: 70px;
}

.position-5{
    margin-left: 270px;
    margin-top: 60px;
}

.position-6{
    margin-left: 142px;
    margin-top: 245px;
}

.position-7{
    margin-left: 13rem;
    margin-top: 17rem;
}