.footer{
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-m);
    font-size: var(--size-xxsml);
    line-height: var(--line-height-xsml);
}

.footer p{
    font-size: var(--size-xxsml);
    color: var(--purple);
}

.footer__body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--light-border);
    padding-bottom: var(--spacing-m);
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
}

.footer__about{
    display: flex;
    flex-direction: column;
    max-width: 317px;
    width: 100%;
    gap: var(--gap-m);
}

.footer__body span{
    font-weight: var(--weight-l);
    font-size: var(--size-xsml);
    color: var(--purple);
}

.footer__logo{
    max-width: 150px;
    width: 100%;
    height: auto;
}

.footer__icon{
    width: 12.8px;
    height: 12.8px;
}

.footer a{
    cursor: pointer;
}

.footer__body a{
    display: flex;
    align-items: center;
    gap: var(--gap-sml);
    color: var(--blue);
}

.footer__table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 428px;
    width: 100%;
}

.footer__table .table__column{
    display: flex;
    flex-direction: column;
    gap: var(--gap-msml);
}

.footer__copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: var(--spacing-xsml);
    padding-bottom: var(--spacing-xsml);
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
    color: var(--card-gray);
}

.copyright__stack{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 417px;
    width: 100%;
}

@media screen and (max-width: 1140px){
    .footer__body{
        flex-direction: column;
        gap: var(--gap-xl);
    }
}

@media screen and (max-width: 660px){
    .footer__table{
        flex-direction: column;
        gap: var(--gap-xl);
        align-items: center;
    }

    .footer__table .table__column{
        align-items: center;
    }

    .footer__copyright{
        align-items: center;
    }

    .copyright__stack{
        align-items: center;
    }
}

@media screen and (max-width: 1035px){
    .footer__copyright{
        flex-direction: column;
        gap: var(--gap-m);
    }
}

@media screen and (max-width: 635px){
    .copyright__stack{
        flex-direction: column;
        gap: var(--gap-m);
    }
}