.main-nav {
    display: flex;
    margin-right: var(--spacing-m);
    padding-left: var(--spacing-m);
    overflow: hidden;
    font-size: var(--size-xxsml);
    line-height: var(--line-height-xsml);
    color: var(--dark-grey);
}

.main-nav__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 33px;
    text-align: left;
    list-style-type: none;
    width: 100%;
}

.main-nav li {
    display: flex;
    margin: auto;
    gap: var(--gap-sml);
    cursor: pointer;
}

.main-nav__img {
    color: var(--blue);
    height: 19px;
    width: 19px;
}

.main-nav__list {
    display: flex;
    gap: var(--gap-l);
    font-weight: var(--weight-l);
}

.main-nav__actions {
    display: flex;
    gap: var(--gap-l);
    font-weight: var(--weight-m);
}

.main-nav__toggle {
    display: none;
    cursor: pointer;
    background-color: var(--background-white);
    z-index: 2;
}

.bar{
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.active .bar:nth-child(2) {
    opacity: 0;
}

.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 1100px) {

    .main-nav{
        flex-direction: column;
        height: 33px;
    }

    .main-nav__content {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        transform: translateY(-700px);
    }

    .main-nav__toggle {
        display: block;
    }

    .active {
        height: auto;
        transition: transform 0.5s ease-in-out;
    }

    .active .main-nav__content{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        transform: translateY(0);
        transition: transform 0.5s ease-in-out;
    }

    .active li {
        margin: 0;
    }

    .main-nav__list {
        display: flex;
        flex-direction: column;
        padding-top: var(--spacing-sml);
        padding-bottom: var(--spacing-m);
    }

    .main-nav__actions {
        display: flex;
        flex-direction: column;
        padding-bottom: var(--spacing-m);
    }

}

@media screen and (max-width: 670px){
    .main-nav{
        padding-left: var(--spacing-sml);
    }
}