.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 33px;
    text-align: left;
    list-style-type: none;
    margin-right: var(--spacing-m);
    /* position: fixed; */
}

.navbar li{
    display: flex;
    margin: auto;
    gap: var(--gap-sml);
    cursor: pointer;
}

.navbar .img{
    color: var(--blue);
    height: 19px;
    width: 19px;
}

.navbar-navigation{
    gap: var(--gap-l);
    display: flex;
}

.navbar-actions{
    gap: var(--gap-l);
    display: flex;
}

@media screen and (max-width: 950px) {
    .navbar {
      flex-direction: column;
    }

    .navbar-navigation{
        flex-direction: column;
        padding: var(--spacing-sml);
    }

    .navbar-actions{
        flex-direction: column;
        padding: var(--spacing-sml);
    }
  
  }