.carousel{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    overflow: hidden;
    height: 900px;
    width: auto;
}

.carousel__container{
    display: flex;
    transition: transform 0.3s;
    width: 100%;
    height: 100%;
    align-items: center;
}

.carousel__card{
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    height: 100%;
}

.carousel .card__button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: var(--spacing-sml);
    padding-top: var(--spacing-l);
}

.carousel .card__figure{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-xxl);
    padding-top: var(--spacing-ml);
}

.carousel .card__body{
    display: flex;
    flex-direction: column;
    gap: var(--gap-msml);
    max-width: 338px;
    width: 100%;
}

.carousel .card__image {
    max-width: 330px;
    width: 100%;
    height: auto;
}

.carousel .card__body h2 {
    margin-bottom: var(--gap-l);
}

@media screen and (max-width: 1150px){
    .carousel .card__figure{
        flex-direction: column;
        padding-bottom: var(--spacing-m);
        gap: var(--gap-m);
    }

    .carousel .card__button-container{
        padding-top: var(--spacing-m);
    }

    .carousel{
        height: auto;
    }
}

@media screen and (max-width: 770px){
    .carousel .card__image{
        display: none;
    }

    .carousel .card__figure{
        padding-left: 0;
        padding-right: 0;
    }
}