.section-title {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    margin-top: var(--spacing-xl);
    padding-left: var(--spacing-m);
}

.section-title p {
    max-width: 540px;
    width: 100%;
}

.timeline-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-l);
    height: 66px;
}

hr {
    border: var(--border-dot);
    flex: 1;
    margin: 0px 7px;
}

.section-content {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-l);
    padding-left: var(--spacing-m);
    margin-bottom: var(--spacing-l);
}

.section-header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
    max-width: 653px;
    width: 100%;
}

.section-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 876px;
    width: 100%;
    margin-top: var(--spacing-l);
}

.section-image .text-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-msml);
    max-width: 426px;
    width: 100%;
}

.section-image .image-container {
    display: flex;
    flex-direction: column;
}

.section-image .image-container .img {
    max-width: 300px;
    width: 100%;
    height: auto;
}

.section-carousel {
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 900px;
    background-color: var(--white);
}

.section-carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-xxl);
}

.section-carousel .section-carousel-item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-top: var(--spacing-m); */
}

.section-carousel .carousel-img {
    max-width: 330px;
    max-height: auto;
    width: 100%;
    height: 100%;
}

.section-carousel .section-carousel-item-paragraph {
    display: flex;
    flex-direction: column;
    gap: var(--gap-msml);
    max-width: 338px;
    width: 100%;
}

.section-carousel .section-carousel-item-paragraph h2 {
    margin-bottom: var(--gap-l);
}

.section-carousel .carousel-button-container{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.section-information{
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-l);
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-l);
    margin-bottom: 50px;
}

.section-information .text-container{
    display: flex;
    flex-direction: column;
    max-width: 652px;
    width: 100%;
    gap: var(--gap-l);
}

.section-information .cards-container{
    display: flex;
    flex-direction: row;
    gap: var(--gap-m);
    align-items: center;
    margin-top: var(--spacing-ml);
}

/* .section-information .card-container{
    display: flex;
    width: 100%;
} */

.section-information .card{
    padding: 44px 24px 24px 24px;
    border-radius: var(--radius-sm);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18);
    max-width: 231.75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* max-height: 134px;
    height: 100%; */
}

.section-information .icon{
    margin-top: -70px;
    position: absolute;
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
}