.section-title {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    margin-top: var(--spacing-xl);
}

.section-title p {
    max-width: 540px;
    width: 100%;
}

.timeline-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-l);
    height: 66px;
}

.timeline-container hr{
    border: var(--border-dot);
    flex: 1;
    margin: 0px 7px;
}

.section-content{
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-l);
}

.section-header{
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
    max-width: 653px;
    width: 100%;
}

.section-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 876px;
    width: 100%;
    margin-top: var(--spacing-l);
}

.section-image .text-container{
    display: flex;
    flex-direction: column;
    gap: var(--gap-msml);
    max-width: 426px;
    width: 100%;
}

.section-image .image-container{
    display: flex;
    flex-direction: column;
}

.section-image .image-container .img{
    max-width: 300px;
    width: 100%;
    height: auto;
}