@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('D:\git\SYOAK-Homepage\syoak\src\general\variables.css');
@import url('D:\git\SYOAK-Homepage\syoak\src\general\layout.css');
@import url('D:\git\SYOAK-Homepage\syoak\src\general\typography.css');
@import url('D:\git\SYOAK-Homepage\syoak\src\components\buttons.css');
@import url('D:\git\SYOAK-Homepage\syoak\src\components\sections.css');

.App{
    display: flex;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-white);
}