.layout-side{
    width:  var(--spacing-xxl);
    height: 100vh;
    border-right: var(--light-border);
    position: fixed;
    display: flex;
    justify-content: center;
}

.layout-side-logo{
    max-width: 100px;
    width: 100%;
    margin-top: var(--spacing-sml);
}

.layout-content{
    display: flex;
    flex-direction: column;
    margin-left: var(--spacing-xxl);
    width: 100%;
    margin-top: var(--spacing-sml);
    overflow: hidden;
}

.layout-content-container{
    display: flex;
    flex-direction: column;
    margin-right: var(--spacing-xxl);
}