.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-right: var(--light-border);
    flex: 1;
    position: sticky;
    top: 0;
}

.sidebar__logo{
    max-width: 100px;
    width: 100%;
    margin-top: var(--spacing-sml);
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-sml);
    width: 100%;
    overflow: hidden;
    flex: 6;
}

.content__container{
    display: flex;
    flex-direction: column;
    margin-right: var(--spacing-xxl);
}

@media screen and (max-width: 800px){
    .sidebar{
        display: none;
    }
}

@media screen and (max-width: 670px){
    .content__container{
        margin-right: var(--spacing-sml);
    }
}