h1{
    font-weight: var(--weight-xl);
    font-size: var(--size-xl);
    line-height: var(--line-height-xl);
    color: var(--black);
}

h2 {
    font-weight: var(--weight-xl);
    font-size: var(--size-l);
    line-height: var(--line-height-l);
    color: var(--dark-blue);
}

h3 {
    font-weight: var(--weight-l);
    font-size: var(--size-sml);
    line-height: var(--line-height-sml);
    color: var(--dark-blue);
}

p{
    font-weight: var(--weight-s);
    font-size: var(--size-xsml);
    line-height: var(--line-height-xsml);
    color: var(--light-grey);
}

@media screen and (max-width: 980px){
    h1{
        font-size: var(--size-l);
        line-height: var(--line-height-l);
    }

    h2{
        font-size: var(--size-m);
        line-height: var(--line-height-m);
    }

    h3{
        font-size: var(--size-xsml);
        line-height: var(--line-height-xsml);
    }

    p{
        font-size: var(--size-xxsml);
        line-height: var(--line-height-xxsml);
    }
}

@media screen and (max-width: 825px){
    h1{
        font-size: var(--size-m);
        line-height: var(--line-height-m);
    }

    h2{
        font-size: var(--size-sml);
        line-height: var(--line-height-sml);
    }

    h3{
        font-size: var(--size-xxsml);
        line-height: var(--line-height-xxsml);
    }

}

@media screen and (max-width: 600px){
    h1{
        font-size: var(--size-m);
        line-height: var(--line-height-sml);
    }

    h2{
        font-size: var(--size-sml);
        line-height: var(--line-height-xsml);
    }

    h3{
        font-size: var(--size-xxsml);
        line-height: var(--line-height-xxsml);
    }
}

@media screen and (max-width: 400px){
    h1{
        font-size: var(--size-msml);
        line-height: var(--line-height-sml);
    }
}