:root{
    /* colors */
    --black: #000000;
    --dark-grey: #303031;
    --light-grey: #6A6A6A;
    --border-dot-grey: #CDCDCD;
    --border-light-gray: #E1E1E1;
    --blue: #0052B4;
    --dark-blue: #00367A;
    --orange: #FF7616;
    --white: #ffffff;

    /* spacing */
    /* --spacing-xxl: 540px; */
    --spacing-xxl: 210px;
    --spacing-xl: 176px;
    --spacing-l: 144px;
    --spacing-m: 70px;
    --spacing-sml: 32px;
    --gap-l: 44px;
    --gap-m: 24px;
    --gap-msml: 16px;
    --gap-sml: 8px;

    /* font size */
    --size-xxmsl: 13px;
    --size-xsml: 16px;
    --size-sml: 20px;
    --size-m: 35px;
    --size-l: 48px;
    --size-xl: 60px;

    /* line height */
    --line-height-xxsml: 16px;
    --line-height-xsml: 20px;
    --line-height-sml: 28px;
    --line-height-m: 35px;
    --line-height-l: 56px;
    --line-height-xl: 76px;


    /* font weight */
    --weight-xl: 900;
    --weight-l: 700;
    --weight-m: 500;
    --weight-s: 400;

    /* radius */
    --radius-sm: 5px;
    --radius-cricle: 50%;

    /* border */
    --light-border: 1px solid var(--border-light-gray);
    --button-border-outline: 2px solid var(--blue);
    --button-container-border-active: 1px solid var(--orange);
    --button-container-border: 1px solid var(--blue);
    --border-dot: 1px dashed var(--border-dot-grey);
}


