:root{
    /* colors */
    --black: #000000;
    --dark-grey: #303031;
    --light-grey: #6A6A6A;
    --border-light-gray: #E1E1E1;
    --blue: #0052B4;
    --dark-blue: #00367A;
    --orange: #FF7616;
    --white: #ffffff;

    /* spacing */
    /* --spacing-xxl: 540px; */
    --spacing-xl: 210px;
    --spacing-l: 176px;
    --spacing-m: 70px;
    --spacing-sml: 32px;
    --gap-l: 44px;
    --gap-m: 24px;
    --gap-sml: 8px;

    /* font and line size */
    --size-xmsl: 13px;
    --size-sml: 20px;
    --size-m: 35px;
    --size-l: 60px;
    --size-xl: 76px;

    /* font weight */
    --weight-xl: 900;
    --weight-l: 700;
    --weight-m: 500;
    --weight-s: 400;

    /* radius */
    --radius-sm: 5px;

    /* border */
    --light-border: 1px solid var(--border-light-gray);
    --button-border-outline: 2px solid var(--blue);
}


